Support for `client_credentials` grant types

Specifically [RFC 6749, section 2.3](https://tools.ietf.org/html/rfc6749#section-2.3).

Is implementing that section of the RFC in-scope for this library?
Is there a reason it isn't currently implemented, or a reason not to implement it?

Isn't section 2.3.1 implemented here? https://github.com/programble/inth-oauth2/blob/master/src/client/mod.rs#L115-L125

Apologies, I linked to the wrong thing! It should have been [4.4.2](https://tools.ietf.org/html/rfc6749#section-4.4.2), where the `grant_type` can be `client_credentials` to indicate a client credential flow vs user auth flow.

There's no reason this library couldn't implement it, I just haven't run into the need for it.